@model INZYNIERKA.Services.ViewModels.UserViewModel

@{
    ViewData["Title"] = "User profile";
}

<div class="container py-5" style="max-width: 600px;">
    <div class="text-center mb-4">
        <img src="@Model.Avatar" alt="Avatar" class="img-fluid rounded-circle mb-3" style="max-width:150px; height:auto;" />
        <h2>@Model.UserName</h2>
        <p class="lead">@Model.PublicDescription</p>

        <h5 class="mt-4">User tags:</h5>
        <ul class="list-inline">
            @foreach (var tag in Model.Tags)
            {
                <li class="list-inline-item badge">@tag</li>
            }
        </ul>

        <div class="d-flex justify-content-center gap-3 mt-4 flex-wrap menu">
            <a asp-controller="Chat" asp-action="Chat" asp-route-friendId="@Model.Id" class="chat">
                Chat
            </a>
        </div>
    </div>
</div>

<style>

    .menu {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 10px 0px;
    }

    .chat {
        background: linear-gradient(135deg, #1b3480, #4565c4);
        color: white;
        text-align: center;
        padding: 10px 0px;
        border-radius: 15px;
        width: 200px;
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

        .chat:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 25px rgba(0,0,0,0.25);
        }


    .delete {
        background: linear-gradient(135deg, #8c144c, #d43780);
        color: white;
        text-align: center;
        padding: 10px 0px;
        border-radius: 15px;
        width: 200px;
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

        .delete:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 25px rgba(0,0,0,0.25);
        }

    .list-inline-item.badge {
        background: linear-gradient(135deg, #552459, #ae2eb8);
        color: white;
        text-align: center;
        padding: 10px 0px;
        border-radius: 15px;
        width: 100px;
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

</style>