@model INZYNIERKA.ViewModels.UserViewModel

<h3>@Model.UserName</h3>
<p> @Model.PublicDescription</p>
<ul class="list-inline">
    @foreach (var tag in Model.Tags)
    {
        <li class="list-inline-item badge bg-primary mx-1">@tag</li>
    }
</ul>

<form asp-action="SendFriendRequest" method="post" style="display:inline;">
    <input type="hidden" name="userId" value="@Model.Id" />
    <button type="submit" class="btn btn-outline-success" title="Send friend requests" data-bs-toggle="tooltipp"><i class="bi bi-person-add fs-4"></i></button>
</form>

<form asp-action="ShowUserWithAI" method="get" style="display:inline;">
    <button type="submit" class="btn btn-outline-primary fs-4">Next →</button>
</form>

<form asp-controller="Profile" asp-action="ShowProfile" method="post" style="display:inline;">
    <input type="hidden" name="userId" value="@Model.Id" />
    <button type="submit" class="btn btn-outline-primary fs-4">Show Profile</button>
</form>